/*.content-block-title{
    padding-top: 0px;
}

.list-block{
	margin-bottom: 10px;
}*/

.infinite-scroll-preloader{margin-top:-20px;margin-bottom:10px;text-align:center;}

.infinite-scroll-preloader .preloader{width:34px;height:34px;}